<%- include('layouts/header', {title: '欢迎'}) %>

<div class="container">
    <div style="text-align: center; padding: 60px 0;">
        <h1>欢迎来到我的博客</h1>
        <p class="description">
            这里是我分享技术、生活和想法的地方。<br>
            希望能与你一起探讨、学习、成长。
        </p>
        <a href="/articles" class="cta-button">浏览文章</a>
    </div>
</div>

<%- include('layouts/footer') %> 